@page "/"

<h1>Hello, world!</h1>
<div>
<FaIcon Icon="FaRegular.Angry"></FaIcon>
</div>
<div>
<FaIcon Icon="FaSolid.CakeCandles" Flip="true" Grow="20"></FaIcon>
</div>
<div>
<FaIcon Icon="FaSolid.CakeCandles.Grow(20).FlipIcon(IconFlip.Both)"></FaIcon>
</div>
<div>
<FaIcon Icon="FaSolid.CakeCandles.Grow(20).FlipIcon(IconFlip.Vertical)" Rotate="30"></FaIcon>
</div>
