name: Dependabot Commenter

on:
  pull_request_target:
    types:
      - labeled
      - opened
      - reopened
      - closed

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Dump job context
        env:
          JOB_CONTEXT: ${{ toJson(job) }}
        run: echo "$JOB_CONTEXT"
      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Dump runner context
        env:
          RUNNER_CONTEXT: ${{ toJson(runner) }}
        run: echo "$RUNNER_CONTEXT"
      - uses: actions/checkout@v2.3.5
        with:
          ref: master
      - name: Dependabot Commenter
        if: |
            (
              (
                github.event.action == 'labeled'
                && (
                        contains(github.event.label.name, ':shipit: merge')
                     || contains(github.event.label.name, 'javascript')
                     || contains(github.event.label.name, 'github-actions')
                   )
              )
              ||
              (
                contains(github.event.action, 'opened') &&
                (
                  (
                        contains(github.event.pull_request.labels.*.name, ':shipit: merge')
                     || contains(github.event.pull_request.labels.*.name, 'javascript')
                     || contains(github.event.pull_request.labels.*.name, 'github-actions')
                  )
                  || startsWith(github.event.pull_request.title, 'Bump JetBrains.ReSharper.CommandLineTools')
                  || startsWith(github.event.pull_request.title, 'Bump ReportGenerator')
                  || startsWith(github.event.pull_request.title, 'Bump Nuke.Common')
                  || startsWith(github.event.pull_request.title, 'Bump GitVersion.Tool')
                  || startsWith(github.event.pull_request.title, 'Bump Bogus')
                  || startsWith(github.event.pull_request.title, 'Bump coverlet')
                  || startsWith(github.event.pull_request.title, 'Bump FakeItEasy')
                  || startsWith(github.event.pull_request.title, 'Bump FluentAssertions')
                  || startsWith(github.event.pull_request.title, 'Bump xunit')
                  || startsWith(github.event.pull_request.title, 'Bump Microsoft.NET.Test.Sdk')
                )
              )
            ) && (
                 github.event.pull_request.user.login == 'dependabot[bot]'
              || github.event.pull_request.user.login == 'dependabot-preview[bot]'
            )
        uses: peaceiris/actions-label-commenter@v1.10.0
        with:
          github_token: ${{ secrets.RSG_BOT_TOKEN }}
          config_file: .github/label-commenter-dependabot.yml

      - name: GitHub Automerge
        if: |
          (
               github.event.label.name == ':shipit: merge'
            && github.event.pull_request.user.login != 'dependabot[bot]'
            && github.event.pull_request.user.login != 'dependabot-preview[bot]'
          )
        uses: alexwilson/enable-github-automerge-action@1.0.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          merge-method: "SQUASH"

      - name: GitHub Remove Labels
        if: |
          github.event.action == 'closed'
        uses: actions-ecosystem/action-remove-labels@v1
        with:
          labels: |
              :shipit: merge
              github-actions
              javascript
              .NET
